version: "3.9"

services:
  calculator:
    container_name: calculator-app
    build: .
    ports:
      - "5000:5000"
    networks:
      - calculator-net

networks:
  calculator-net:
    driver: bridge
